
/* body{
   background-color:#3a78c9;
   color:white;
} */

.errors-box{
    border: 1px solid red !important;
}
.success-box{
    border: 1px solid green !important;
}
.opacity-form{
    opacity:0.5;
}
.disabled{
    
    cursor: default;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}

.logform{
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    background-color:white;
    color:black !important;
    width: fit-content;
    padding: 50px;
}


.link1{
    color:white;
    text-decoration: none;
}

.link1:hover{
    color:rgb(207, 142, 20);
    text-decoration: none;
}
